@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(223, 207, 56);
	font-family: 'Roboto', sans-serif;
}

.container {
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 32px;
	box-shadow: 8px 8px 16px 0 rgba(0,0,0,.25), inset -8px -8px 16px 0 rgba(0,0,0,.25), inset 8px 8px 16px 0 hsla(0,0%,100%,.2);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

h3 {
	margin: 10px 0px 20px 0px;
	text-shadow: 0 0.075em rgba(0,0,0,.25);
}

.time {
	display: flex;
	justify-content: space-around;
}

.timer {
	display: flex;
	justify-content: center;
	font-size: 2em;
	text-align: center;
}

#button {
	display: flex;
	justify-content: space-around;
}

.btn {
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius: 32px;
	width: 70px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #fff;
	background: rgba(0,0,0,.005);
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,.25), inset -8px -8px 16px 0 rgba(0,0,0,.25),inset 8px 8px 16px 0 hsla(0,0%,100%,.2);
}

#start {
	background: rgb(13, 161, 13);
}

#stop {
	background: rgb(215, 25, 25);
}

#reset {
	background: rgb(13, 161, 119);
}